
@font-face {
    font-family: halo_txt;
    src: url(/txt/Halo.ttf);
}

body {
    background-image: url(/img/halo-infinite-master-chief-cartoon-3zxkmw0cnn6wgdes.jpg);
    background-size: cover();
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}